---
layout: default
---

<!-- {% assign featured_posts = site.posts | where: "featured", "true" %}
{% for post in featured_posts %}
  <h2>{{ post.title }}</h2>
{% endfor %} -->

<div class="posts">
  {% for post in paginator.posts %}
  <article class="post b">

    <div class="post-title"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></div>

    <div class="date">
      {{ post.date | date: "%B %e, %Y" }}
      {% if post.tags.size > 0 %}
      in
        {% for tag in post.tags %}
          <strong><a href="/tags/#{{ tag }}">{{ tag }}{% if forloop.last %}{% else %},{% endif %}</a></strong>
        {% endfor %}
      {% endif %}
    </div>

    <div class="entry">
      {{ post.content }}
    </div>

    <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
  </article>
  {% endfor %}
</div>

<!-- Pagination links -->
<div class="pagination row">

  <div class="col-md-3">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}">
      <div class="previous page">
        Previous
      </div>
    </a>
    {% else %}
    <div class="previous page">
      <span>Previous</span>
    </div>
    {% endif %}
  </div>


  <div class="col-md-6">
    <div class="page_number page">
      Page: {{ paginator.page }} of {{ paginator.total_pages }}
    </div>
  </div>


  <div class="col-md-3">
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}">
      <div class="next page">
        Next
      </div>
    </a>
    {% else %}
    <div class="next page">
      <span>Next</span>
    </div>
    {% endif %}
  </div>

</div>