---
---

//
// IMPORTS
//

@import "variables";

body {
	// background-color: #F9F8F4;
}

img {
	display: block;
	max-width: 100%;
	max-height: 100%;
	border-radius: 5px;
	margin: 0 auto;
}

a+em {
	margin-top: 0.5em;
	font-size: 0.8em;
}

.centered {
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

a {
	color: #000;
	text-decoration: none;
}

a:hover {
	color: $link-color;
	text-decoration: underline;
}

.b {
	border: 0px solid #ddd;
}

hr {
	width: 30%;
}

.container {
	margin-top: 0em;
	margin-bottom: 2em;
	max-width: 700px;
	line-height: 1.9rem;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 18px;

	box-sizing: border-box;
	padding: 0px 0px;

	@media screen and (max-width: 850px) {
		margin: 0;
		padding: 50px 60px;
	}

	@media screen and (max-width: 650px) {
		margin: 0;
		padding: 30px 40px;
	}

	@media screen and (max-width: 450px) {
		margin: 0;
		padding: 0px;
	}

	@media screen and (max-width: 349px) {
		margin: 0;
		padding: 7px;
	}

	text-overflow: ellipsis;
	border-radius: 10px;
}

header {
	padding: 2em 1em 1.3em 1em;
	background-color: #F9F8F4;

	div.site-info {
		div.site-name {
			font-size: 2em;
			margin-bottom: 0.5em;
			font-weight: bold;
		}

		span.site-description {
			font-size: 0.7em;
		}

		@media screen and (max-width: 800px) {
			div.site-name {
				font-size: 1.7em;
			}
		}

		a {
			text-decoration: none;
		}
	}

	nav {
		margin-top: 1em;
		font-size: 0.9em;

		a {
			margin-right: 0.5em;
			text-decoration: underline;
		}
	}
}

main {
	padding: 1em;

	a {
		color: $link-color;
	}

	article.post {
		padding-bottom: 1em;
		margin-bottom: 2em;
		border-bottom: 1px solid #aaa;

		.post-title {
			font-size: 1.3em;
			font-weight: bold;
			margin-top: 1em;

			a {
				color: #000;
			}
		}

		div.entry {

			p {
				margin: 1.2em 0;

				code {
					background-color: rgba(27, 31, 35, 0.05);
					padding: 3px 2px;
					color: $inline-code-color;
				}
			}

			.caption {
				font-size: small;
				text-align: center;
			}

			h3 {
				margin-top: 1.5em;
				font-size: 1.1em;
				font-weight: bold;
			}

			blockquote {
				p {
					margin: 0;
				}

				p:not(:last-child) {
					padding-bottom: 1em;
				}

				border-left: 2px solid $gray;
				padding: 1.3em;
				box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
				background-color: lightyellow;
			}

			li {
				margin: 0.5em 0;

				p {
					margin: 0.5em 0;
				}
			}
		}

		div.date {
			font-size: 0.8em;
			margin: 0.6em 0;
			color: #aaa;
		}

		.comment-message {
			font-size: small;
			background-color: lightyellow;
			padding: 1em;
			margin-top: 4em;
			font-style: italic;
		}

		.commentBox {
			text-align: center;
			padding: 1em 0;
		}
	}

	pre {
		border: 1px solid #eee;
		padding: 1em;
		box-shadow: 0 5px 15px #eee;
		border-radius: 3px;
		margin: 0 0;

		highlight {
			padding: 1em;
			margin-bottom: 1em;
		}
	}

	code {
		font-family: 'Bitstream Vera Sans Mono', 'Courier', monospace;
		border-radius: 3px;
		word-wrap: normal;
	}

}

.pagination {
	margin: 1em 0;

	.page {
		// border: 1px solid #ddd;
		margin-top: 0.5em;
		padding: 1em;
		text-align: center;
		background-color: aliceblue;
		border-radius: 7px;
	}
}

div.about {
	margin: 1em;
	padding-bottom: 1em;

	img {
		max-width: 175px;
		max-height: 175px;
		width: auto;
		height: auto;
		border: 1px solid #ddd;
	}
}

div.book {
	margin: 2em 0;

	img {
		max-width: 200px;
		max-height: 200px;
	}
}


.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

footer {
	margin: 1em;
	clear: both;
	text-align: center;

	.svg-icon {
		margin-right: 5px;
	}
}

section.tags {
	div.tag-container {
		margin-top: 1em;

		div.tag-name {
			margin: 0.5em 0;
			font-size: 1.3em;
			font-weight: bold;
		}

		div.tagged-posts {
			font-size: 0.9em;
		}
	}
}

section.archive {
	margin: 1em;

	div.month {
		margin: 0.5em 1em;
		font-size: 1.1em;
		font-weight: bold;
	}

	ul {
		margin: 1em;

		li {
			margin: 0.1em;
		}
	}
}

section.books {
	div.summary {
		margin: 1em 0;
		background-color: lightyellow;
		padding: 1em;
		font-size: 0.8em;
	}
}

section.blog {}

table,
th,
td {
	border: 1px solid #ddd;
	padding: 5px 10px;
}

th {
	text-align: center;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "code/default";
@import "svg-icons";

div:target {
	background-color: lightyellow;
}