---
---

//
// IMPORTS
//

@import "variables";

.centered {
  text-align: center;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: $link-color;
  text-decoration: underline;
}

.b {
  border: 0px solid #ddd;
}

hr {
  width: 30%;
}

.container {
  max-width: 35em;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
}

header {
  padding: 1em;
  border-bottom: 1px solid #eee !important;
  // background-color: aliceblue;

  div.site-info {
    div.site-name {
      font-size: 2.5em;
    }

    p.site-description {
      font-size: 0.9em;
    }
  }

  nav {
    margin-top: 1em;
    font-size: 0.9em;
    a {
      margin-right: 1em;
      color: $link-color;
    }
  }
}

main {
  padding: 1em;
  a {
    color: $link-color;
  }

  article.post {
    padding-bottom: 2em;
    border-bottom: 1px solid #eee;

    .post-title {
      font-size: 1.3em;
      font-weight: bold;
      margin-top: 1em;
      a {
        color: #000;
      }
    }

    div.entry {

      p {
        margin: 1em 0;
      }

      blockquote {
        background-color: whitesmoke;
        border-left: 2px solid $gray;
        padding: 0.1em 1em;
        color: $gray;
        font-size: 22px;
        font-style: italic;
      }
    }

    div.date {
      font-size: 0.8em;
      margin: 0.6em 0;
      color: #aaa;
    }

    .comments {
      margin-top: 3em;
    }
  }

}

.pagination {
  margin-top: 1em;
  .page {
    // border: 1px solid #ddd;
    margin-top: 0.5em;
    padding: 1em;
    text-align: center;
    background-color: aliceblue;
    border-radius: 7px;
  }
}

div.about {
  margin: 1em;
  padding-bottom: 1em;
  img {
    max-width:175px;
    max-height:175px;
    width: auto;
    height: auto;
    border-radius: 100%;
    border: 1px solid #def;
  }
}

div.book {
    img {
      max-width:200px;
      max-height:200px;
  }
  margin: 2em 0;
}

div.random {

  img {
      max-width:100%;
      max-height:100%;
      border-radius: 5px;
  }
}

.gallery {
  min-height: 800px;
  .snap {
    display: inline-block;
    img {
      max-width: 205px;
      max-height: 200px;
    }
    img:hover {
      border: 1px solid #000;
    }
  }

  .desc {
    margin: 0.5em 0;
    text-align: center;
    font-size: 0.7em;
  }
}

footer {
  margin: 1em;
  clear: both;
  text-align: center;

  .svg-icon {
    margin-right: 5px;
  }
}

section {
  margin: 1em;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
