---
---

//
// IMPORTS
//

@import "variables";

.centered {
  text-align: center;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: $link-color;
  text-decoration: underline;
}

.b {
  border: 0px solid #ddd;
}

.container {
  max-width: 35em;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
}

header {
  padding: 1em;
  background-color: aliceblue;

  div.site-info {
    div.site-name {
      font-size: 2.3em;
      font-weight: bold;
    }

    p.site-description {
      font-size: 1em;
    }
  }

  nav {
    a {
      margin-right: 1em;
      color: $link-color;
    }
  }
}

main {
  padding: 0 1em;
  a {
    color: $link-color;
  }

  article.post {
    padding-bottom: 2em;
    border-bottom: 1px solid #eee;

    .post-title {
      font-size: 1.3em;
      font-weight: bold;
      margin-top: 1em;
      a {
        color: #000;
      }
    }

    div.entry {

      p {
        margin: 1em 0;
      }

      blockquote {
        background-color: whitesmoke;
        border-left: 2px solid $gray;
        padding: 0.1em 1em;
        color: $gray;
        font-size: 22px;
        font-style: italic;
      }
    }

    div.date {
      font-size: 0.8em;
      margin: 0.6em 0;
      color: #aaa;
    }

    .comments {
      margin-top: 3em;
    }
  }

}

footer {
  margin: 1em;
  text-align: center;
  .svg-icon {
    margin-right: 5px;
  }
}

.pagination {
  .page {
    // border: 1px solid #ddd;
    padding: 1em;
    text-align: center;
    background-color: aliceblue;
    border-radius: 7px;
  }
}

div.about {
  padding-bottom: 1em;
  img {
    max-width:175px;
    max-height:175px;
    width: auto;
    height: auto;
    border-radius: 100%;
    border: 1px solid #def;
  }
}

div.book {
    img {
      max-width:200px;
      max-height:200px;
  }
}

div.random {

  img {
      max-width:100%;
      max-height:100%;
      border-radius: 5px;
  }
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
