---
---

//
// IMPORTS
//

@import "variables";

.centered {
  text-align: center;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: $link-color;
  text-decoration: underline;
}

.b {
  border: 0px solid #ddd;
}

hr {
  width: 30%;
}

.container {
  max-width: 33em;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1em;
}

header {
  text-align: center;
  padding: 1em 0;
  border-bottom: 1px solid #eee !important;

  div.site-info {
    div.site-name {
      font-size: 2em;
      font-weight: bold;
    }

    p.site-description {
      font-size: 0.9em;
    }

    a {
      text-decoration: none;
    }
  }

  nav {
    margin-top: 1em;
    font-size: 0.9em;
    a {
      margin-right: 1em;
      color: $link-color;
    }
  }
}

main {
  padding-top: 0.5em;
  a {
    color: $link-color;
  }

  p > code {
    color: #000 !important;
    border-radius: 3px;
    padding: 3px 5px;
  }

  article.post {

    .post-title {
      font-size: 1.2em;
      font-weight: bold;
      margin-top: 1em;
      a {
        color: #000;
      }
    }

    div.entry {

      p {
        margin: 1em 0;
      }

      blockquote {
        background-color: whitesmoke;
        border-left: 2px solid $gray;
        padding: 0.1em 1em;
        color: $gray;
        font-size: 22px;
        font-style: italic;
      }
    }

    div.date {
      font-size: 0.8em;
      margin: 0.6em 0;
      color: #aaa;
    }

    .comments {
      margin-top: 3em;
    }
  }

  pre.highlight {
    padding: 0.5em;
    margin-bottom: 1em;
    border-radius: 5px;
    background-color: lightyellow;
  }

  code {
    font-family:'Bitstream Vera Sans Mono',
    'Courier',
    monospace;
  }

}

.pagination {
  margin-top: 1em;
  .page {
    // border: 1px solid #ddd;
    margin-top: 0.5em;
    padding: 1em;
    text-align: center;
    background-color: aliceblue;
    border-radius: 7px;
  }
}

div.about {
  margin: 1em;
  padding-bottom: 1em;
  img {
    max-width:175px;
    max-height:175px;
    width: auto;
    height: auto;
    border: 1px solid #ddd;
  }
}

div.book {
  margin: 2em 0;
  
  img {
      max-width:200px;
      max-height:200px;
  }
}

div.random {

  img {
      max-width:100%;
      max-height:100%;
      border-radius: 5px;
  }
}

.gallery {
  min-height: 800px;
  .snap {
    display: inline-block;
    img {
      max-width: 205px;
      max-height: 200px;
    }
    img:hover {
      border: 1px solid #000;
    }
  }

  .desc {
    margin: 0.5em 0;
    text-align: center;
    font-size: 0.7em;
  }
}

.caption {
  margin-top: 0.5em;
  font-size: 0.8em;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

footer {
  margin: 1em;
  clear: both;
  text-align: center;

  .svg-icon {
    margin-right: 5px;
  }
}

section.tags {
  margin: 1em;
  div.tag-name {
    font-size: 1.1em;
    font-weight: bold;
  }
}

section.archive {
  margin: 1em;
  div.link {
    margin: 0.7em 0;
  }
  div.date {
    padding: 0.2em;
    font-size: 0.7em;
  }
}

section.books {
  div.summary {
    background-color: lightyellow;
    padding: 0.5em;
    font-size: 0.8em;
  }
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "syntax/vs";
@import "svg-icons";

ul:target {
  background-color: lightyellow;
}